<a href="https://colab.research.google.com/github/FarhanFansuri/scikit-learn/blob/main/msib/tugas/build-ml-model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kampus Merdeka 6: IBM & Skilvul
# Data Science Phase Challenge

# Problem Definition
## Latar Belakang

Latar belakang dari analisis dataset Titanic berkaitan dengan kepentingan untuk memahami lebih dalam tentang faktor-faktor yang memengaruhi tingkat kelangsungan hidup penumpang dalam situasi darurat, seperti tenggelamnya kapal. Peristiwa tenggelamnya kapal Titanic pada tanggal 15 April 1912 adalah salah satu tragedi paling terkenal dalam sejarah maritim, di mana lebih dari 1.500 orang tewas.

Dataset Titanic, yang berisi informasi tentang penumpang kapal termasuk atribut seperti usia, jenis kelamin, kelas tiket, kehadiran anggota keluarga, dll., menjadi objek penelitian yang penting dalam ilmu data dan pembelajaran mesin. Analisis dataset ini memberikan kesempatan untuk menganalisis pola-pola yang mungkin ada dalam data dan untuk memahami lebih dalam tentang faktor-faktor apa yang dapat memengaruhi keselamatan penumpang dalam situasi darurat.

Selain itu, penggunaan dataset Titanic juga memberikan contoh yang baik untuk melatih dan menguji berbagai algoritma pembelajaran mesin dalam konteks klasifikasi biner. Oleh karena itu, latar belakang dari analisis dataset Titanic adalah kombinasi dari kepentingan sejarah, keselamatan, dan pembelajaran mesin.


## Tujuan Penelitian

Tujuan akhir dari analisis dataset Titanic adalah untuk membangun model prediktif yang dapat memprediksi kemungkinan kelangsungan hidup penumpang berdasarkan atribut-atribut tertentu yang dimiliki oleh setiap individu.

## Rumusan Masalah

Dengan menggunakan dataset yang berisi informasi tentang penumpang kapal Titanic, bagaimana kita dapat membangun model prediktif yang dapat memprediksi kemungkinan kelangsungan hidup penumpang berdasarkan atribut-atribut seperti usia, jenis kelamin, kelas tiket, dll.?

## Data yang akan dipakai

Nama dataset : Titanic Dataset
source : https://www.kaggle.com/datasets/sakshisatre/titanic-dataset

deskripsi : Kumpulan data yang berisi informasi tentang penumpang kapal Titanic adalah salah satu kumpulan data yang paling terkenal yang digunakan dalam ilmu data dan pembelajaran mesin. Kumpulan data ini dibuat untuk menganalisis dan memahami faktor-faktor yang memengaruhi tingkat kelangsungan hidup di antara penumpang selama tenggelamnya tragis RMS Titanic pada tanggal 15 April 1912.

## Metode

Berikut metode yang akan digunakan:
1. Logistic Regression
2. Decision Trees
3. Random Forest
4. SVM
5. Neural Network

# Preparation | Persiapan
## Import Libraries

In [14]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.1)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [15]:
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
import category_encoders as ce

## Get Data | Mendapatkan Data

In [16]:
titanic_dataset = pd.read_csv('/content/Titanic Dataset.csv')
encoder = ce.BinaryEncoder(cols=['sex'])
encoded_data = encoder.fit_transform(titanic_dataset)
encoded_data

,pclass,survived,name,sex_0,sex_1,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,1,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,1,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,0,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,1,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",0,1,14.50,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",0,1,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",1,0,26.50,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",1,0,27.00,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",1,0,29.00,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

## Explore Data (EDA) | Eksplorasi Data

In [9]:
titanic_dataset.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [11]:
titanic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     0 non-null      int64
 1   survived   0 non-null      int64
 2   name       0 non-null      object
 3   sex        0 non-null      object
 4   age        0 non-null      float64
 5   sibsp      0 non-null      int64
 6   parch      0 non-null      int64
 7   ticket     0 non-null      object
 8   fare       0 non-null      float64
 9   cabin      0 non-null      object
 10  embarked   0 non-null      object
 11  boat       0 non-null      object
 12  body       0 non-null      float64
 13  home.dest  0 non-null      object
dtypes: float64(3), int64(4), object(7)
memory usage: 0.0+ bytes

## Clean Data | Membersihkan Data

In [10]:
titanic_dataset = titanic_dataset.dropna(axis=0)

# Model Training | Pelatihan Model

### Logistic Regression Model

### Decission Trees

### Random Forest

### Support Vector Machines (SVM)

### Neural Network

# Model Evaluation | Evaluasi Model

## Model Selection | Pemilihan Model

## Conclusion | Kesimpulan